body {
  margin: 0; }

.battery {
  margin: 100px;
  width: 400px;
  height: 100px;
  border: 4px solid black;
  position: relative; }
  .battery::after {
    content: '';
    height: 100px;
    width: 10%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s; }
  .battery::before {
    content: '';
    height: 50px;
    width: 20px;
    border: 3px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateX(401px) translateY(25px); }

.battery:hover::after {
  width: 100%;
  background-color: green; }

.menu {
  position: relative;
  left: 30%;
  width: 500px;
  height: 700px;
  border: 2px solid black;
  box-sizing: border-box;
  margin-bottom: 100px;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .menu__block {
    height: 100px;
    width: 50px;
    border: 1px solid black; }
